# Mirth Connect API Endpoint 
MIRTH_URL=https://localhost:8444

# Mirth Credentials
MIRTH_USERNAME=admin
MIRTH_PASSWORD=adminpassword

# TLS Bypass (Critical for local dev)
# Set to 0 to allow Axios to bypass self-signed certificate errors common with default Mirth installs
NODE_TLS_REJECT_UNAUTHORIZED=0